.ipynb_checkpoints/1 First Regression-checkpoint.ipynb
.ipynb_checkpoints/2 Categorical Data & Multiple Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/3 Sklearn Regression-checkpoint.ipynb
.ipynb_checkpoints/4 Sklearn Multiple Regression & R Squared & Feature Selection-checkpoint.ipynb
.ipynb_checkpoints/5 Predicting with Standardized Models & Training and test splitting-checkpoint.ipynb
.ipynb_checkpoints/6 Practical Example Car Sales-checkpoint.ipynb
.ipynb_checkpoints/7 Logistic Regression-checkpoint.ipynb
.ipynb_checkpoints/8 Clustering-checkpoint.ipynb
.ipynb_checkpoints/9 Deep Learning (Intro to Neural Networks)-checkpoint.ipynb
.ipynb_checkpoints/10 Neural Networks continued-checkpoint.ipynb
